@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100|Roboto:100|Source+Sans+Pro:200');

#app-title {
  margin: 20px 0 20px 0;
  font-size: 30px;
  color: rgb(217, 55, 73);
  font-weight: bold;
}
h1 {
  font-family: 'Roboto Slab';
  font-weight: bold;
  color: rgb(217, 55, 73);
}

#chore1 {
  background-color: rgba(217, 55, 73, 1.0);;
}

#chore2 {
  background-color: rgba(217, 55, 73, 0.8);;
}

#chore3 {
  background-color: rgba(217, 55, 73, 0.7);;
}

#chore4 {
  background-color: rgba(217, 55, 73, 0.6);;
}

.chore {
  padding: 25px;
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 15px;
  color: white;
}

input {
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

#username {
  margin: 10px 0 10px 0;
}

#textarea {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  margin: 0 0 20px 0;
}

#messages {
  height:300px;
  padding: 20px;
  overflow: scroll;
  font-family: 'Roboto';
}

#clear {
  font-family: 'Roboto Slab';
  font-weight: bold;
}

#status {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  color: rgb(217, 55, 73);
}

.row {
  margin-top: 30px;
  padding: 30px;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.05);
}
