<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roomie Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <div id="app-title">
      Roomie Manager
    </div>
    <div class="row">

      <div class="col-md-6">
        <h1 class="text-center">
          Roomie Chat
        </h1>
        <div id="status"></div>
        <div id="chat">
          <div class="card">
            <div id="messages" class="card-block">
            </div>
          </div>
          <input type="text" id="username" class="form-control" placeholder="Enter roomie...">
          <textarea id="textarea" class="form-control" placeholder="Enter message..."></textarea>
          <div id="enter">
            Press 'Enter' to Send
          </div>
          <br>
          <button id="clear" class="btn btn-danger">Clear Chat</button>
        </div>
      </div>


      <div class="col-md-6">
        <h1 class="text-center">
          Chore Line-Up
        </h1>

        <div id="chores">

          <div id="chore1" class="col chore">
            <u>Dishes</u>-Empty or run dishwasher, wipe counters, put dishes in dishwasher

            <div class="assigned"><%= chore1[chore1.length - 1].roomie %></div>

            <form action="/chore1" method="POST">
              <input type="text" placeholder="Roomie..." name="roomie">
              <button type="submit">Assign</button>
            </form>
          </div>

          <div id="chore2" class="col chore">
            <u>Trash</u>-Take out the trash and recycling bin (every Tuesday)
            <% if (typeof chore2 ==='object' && chore2) { %>
              <div class="assigned"><%= chore2[chore2.length - 1].roomie %></div>
              <% } %>

            <form action="/chore2" method="POST">
              <input type="text" placeholder="Roomie..." name="roomie">
              <button type="submit">Assign</button>
            </form>
          </div>

          <div id="chore3" class="col chore">
            <u>Floor</u>-Vacuum floor (once a week), mop as needed



            <form action="/chore3" method="POST">
              <input type="text" placeholder="Roomie..." name="roomie">
              <button type="submit">Assign</button>
            </form>
          </div>

          <div id="chore4" class="col chore">
            <u>Kitchen</u>-Wipe stove top and kitchen counter



            <form action="/chore4" method="POST">
              <input type="text" placeholder="Roomie..." name="roomie">
              <button type="submit">Assign</button>
            </form>
          </div>

        </div>
      </div>


    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
  <script>
    (function() {
      var element = function(id) {
        return document.getElementById(id);
      }

      // Get elements (chat)
      var status = element('status');
      var messages = element('messages');
      var textarea = element('textarea');
      var username = element('username');
      var clearBtn = element('clear');

      // Set default status to blank
      var statusDefault = status.textContent;
      var setStatus = function(s) {
        // Set status
        status.textContent = s;

        // Send update message which disappears after 4 seconds
        if (s !== statusDefault) {
          var delay = setTimeout(function () {
            setStatus(statusDefault);
          }, 4000);
        }
      }

      // Connect to socket.io
      var socket = io.connect('http://127.0.0.1:4000');

      // Check for connection
      if (socket !== undefined) {
        console.log('Connected to socket.io...');

        // Handle output
        socket.on('output', function(data) {
          //console.log(data);
          if (data.length) {
            for (var x = 0; x < data.length; x++) {
              // build out message div to display name and chat
              var message = document.createElement('div');
              message.setAttribute('class', 'chat-message');
              message.textContent = data[x].name+": "+data[x].message;
              messages.appendChild(message);
              // insert new chat on top ie most recent to least recent
              messages.insertBefore(message, messages.firstChild);

            }
          }
        });

        // Get status from server
        socket.on('status', function(data) {
          // Get message status
          setStatus((typeof data === 'object') ? data.message : data);

          // check to see if status is clear-> clear text
          if (data.clear) {
            textarea.value = '';
          }
        });

        // Handle input, want event when typing message
        textarea.addEventListener('keydown', function(event) {
          if (event.which === 13 && event.shiftKey === false) { // 13 is return or enter
            // Emit to server input
            socket.emit('input', {
              name: username.value,
              message: textarea.value,
              //chorePerson: chorePerson.value;
            });

            event.preventDefault();
          }
        });

        username.addEventListener('keydown', function(event) {
          if (event.which === 13 && event.shiftKey === false) { // 13 is return or enter
            // Emit to server input
            socket.emit('input', {
              name: username.value,
              message: textarea.value,
              //chorePerson: chorePerson.value;
            });

            event.preventDefault();
          }
        });

        // Handle chat clear
        clearBtn.addEventListener('click', function() {
          socket.emit('clear');
        });

        // Clear message and username
        socket.on('cleared', function() {
          messages.textContent = '';
          username.innerHTML = '';
        });

      }

    })();
  </script>
</body>
</html>
