@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100|Roboto:100,300|Source+Sans+Pro:200,300');

#app-title {
  margin: 20px 0 20px 0;
  font-size: 30px;
  color: rgb(217, 55, 73);
  font-weight: bold;
}

.assigned {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: Arial;
  margin: 5px 0 5px 0;
}

h1 {
  font-family: 'Roboto Slab';
  font-weight: bold;
  color: rgb(217, 55, 73);
}

#chore1 {
  background-color: rgba(217, 55, 73, 1.0);;
}

#chore2 {
  background-color: rgba(217, 55, 73, 0.8);;
}

#chore3 {
  background-color: rgba(217, 55, 73, 0.7);;
}

#chore4 {
  background-color: rgba(217, 55, 73, 0.6);;
}

.chore {
  padding: 25px;
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 15px;
  color: white;
}

#chore-person {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  margin: 10px 0 0 0;
}

#username {
  margin: 10px 0 10px 0;
}

#textarea {
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

input {
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

button {
  font-weight: bold;
}

#messages {
  height:300px;
  padding: 20px;
  overflow: scroll;
  font-family: 'Roboto';
  font-weight: 300;
}

#chorePeople {
  height: 20px;
  padding: 10px;
  font-family: 'Roboto';
  font-weight: 300;
}

#clear {
  font-family: 'Roboto Slab';
  font-weight: bold;
  margin-top: 10px;
}

#enter {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  color: rgb(217, 55, 73);
  font-size: 18px;
}

#status {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  color: rgb(217, 55, 73);
}

#register {
  margin-top: 30px;
}

.main {
  padding: 30px;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.05);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(217, 55, 73);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

h3 {
  color: white;
  font-family: 'Roboto Slab';
  font-weight: bold;
  margin: 20px;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 500px) {
  #chore-title {
    margin-top: 30px;
  }
}

#nav {
  cursor: pointer;
  font-size: 20px;
  color: rgb(217, 55, 73);
}

.footer {
  margin: 50px;
  color: rgb(217, 55, 73);
  font-family: 'Roboto Slab';
  font-weight: bold;
  text-align: center; 
}

.online {
  color: white;
  font-size: 20px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
}
